<div class="row">
  <div class="col-4">
    <h1>Articles</h1>
    <table class="table table-bordered border-primary ">
      <tr class="table-dark table-center">
        <td>Name</td>
        <td>Action</td>
      </tr>
      <% @articles.each do |article| %>
        <tr class="table-primary">
          <td><%= article.title %></td>
          <td>
            <%= link_to "View",article_path(article),class: 'link-success' %>/
            <%= link_to "Edit", edit_article_path(article),class: 'link-primary' %>/
            <%= link_to "Destroy", article_path(article),
                      method: :delete,
                      data: { confirm: "Are you sure?" }, class: 'link-danger' %>
          </td>  
        </tr>
       <% end %> 
    </table>
    <%= link_to "Add New Article", new_article_path,class: 'link-danger' %><br>
    <%= link_to 'Back', root_path,class: 'link-success' %>
  </div>
  <div class="col-4"></div>
  <div class="col-4"></div>
</div>
