<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <h2>About Article <%= @article.title %></h2>

    <h4>Description - </h4><%= @article.body %></p>

    <h2>Comments</h2>
    <%= render @article.comments %>

    <h3>Add a comment:</h3>
    <%= render partial: 'comments/form' %>
    <%= link_to "Back",articles_path,class: 'link-success' %>
  
  </div>
  <div class="col-4"></div>
</div>

