<div class="row">
  <div class="col-4">
    <h4>Userr Name: <i style="color: blueviolet;"><%= @userr.name %></i></h4>
    <strong style="color: darkblue;"><%= @userr.name %>'s subscription Plan:</strong><br>
    
    <table class="table table-dark table-hover">
      <tr>
        <th>Plan Name</th>
        <th>Plan Type</th>
        <th>Plan Value</th>
      </tr>
      <% @userr.subscription_plans.each do |subscription| %>
        <tr>
          <td><%= subscription.plan_name %></td>
          <td><%=  subscription.plan_type %></td>
          <td><%=  subscription.plan_value %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to "Destroy", userr_path(@userr),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %><br>
    <%= link_to "Back",userrs_path %>
  </div>
  <div class="col-4"></div>
  <div class="col-4"></div>
</div>
  