<div class="row">
  
  
  <div class="col">
    <h3>Your's Subscription's </h3>
    <table class="table  table-hover">
      <tr class="table-dark">
        <th>SNo.</th>
        <th>Plan Name</th>
        <th>Plan Type</th>
        <th>Plan Value</th>
        <th>Option</th>
      </tr>
      <% count = 1 %>
      <% @subscriptions.each do |subscription| %>
        <tr class="table-primary">

          <td><%= count %></td>
          <td><%= subscription.subscription_plan.plan_name %></td>
          <td><%=  subscription.subscription_plan.plan_type %></td>
          <td><%=  subscription.subscription_plan.plan_value %></td>
          <td><%= link_to "View",subscription_path(subscription),class: 'link-success' %></td>
          <% count += 1 %>
        </tr>
      <% end %>
    </table>
    <%= link_to 'Take New Subscription', new_subscription_path %><br>
    <%= link_to "Back", root_path %>
  </div>
 
</div>
